@use "../base/mixins";
@use "../base/variables";

.categorias{
    background-color: variables.$grisClaro;
    padding: 5rem 0;
    &__heading{
        @include mixins.heading;
    }
    &__grid{
        margin-top: 5rem;
        @include mixins.grid(1, 4rem);
        @include mixins.tablet{
            @include mixins.grid(2,2rem);
        }
        @include mixins.desktop{
            @include mixins.grid(3, 2rem)
        }
    }
}
.categoria{
    &__nombre{
        font-size: 2.4rem;
        text-align: center;
        font-weight: 700;
        
    }
}